.col-9{
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
}

.nav-link{
    font-family: 'Bebas Neue', cursive;
    font-size: 18px
}

body{
    background-color: #cc5e5e;
    font-family: 'Bebas Neue', cursive;
}

img{
    margin-left: -342px;
    margin-right: 0;
    width: 25%;
}