.fa-html5 {
    color: #e44d26;
}
.fa-css3-alt {
    color: #1b73ba;
}
.fa-js {
    color: #f7df1e;
}
.fa-node {
    color: #82b173;
}
.fa-code-branch {
    color: #f05133;
}

.fa-react{
    color: rgb(111, 213, 203);
}
.tinyIcon{
    color: #ffffff;
    padding: 8px;
    border: 1px solid #eb497c;
    transition: 350ms;
    margin-right: 15px;
    font-size: 30px;
}
.tinyIcon:hover{
    color: #000000;
    background-color: #eb497c;
}

#conn {
    list-style: none;
    font-size: 15px;
}

#skills{
font-size: 35px;
font-family:'Bebas Neue', cursive;
color: white;
font-weight: normal;
align-self: center;

} 