.fa-html5 {
    color: #e44d26;
}
.fa-css3-alt {
    color: #1b73ba;
}
.fa-js {
    color: #f7df1e;
}

.tinyIcon{
    color: #ffffff;
    padding: 8px;
    border: 1px solid #ffffff;
    transition: 0.5s;
    margin-right: 15px;
    font-size: 30px;
}

li i{
    margin-left: 200px;
    transition: transform 0.3s ease;
    margin: 10px 20px;
    list-style: none;
}

li i:hover{
    transform: scale(1.25);
}
li {
    list-style: none;
    font-size: 16px;
}