.col-9{
    
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
}

.col-6{
    font-size: 20px;
}

.nav-link{
    font-family:'Bebas Neue', cursive;
    font-size: 18px
}

body{
    background-color: #cc5e5e;
}

img{
    margin-left: -368px;
    margin-right: 0px;
    width: 25%;
    border-radius: 20px;
}
form {
    width: 50%;
}

@media screen and (max-width: 576px) {
    .col-9 {
      background-color: #cc5e5e;
      font-size: 50px;
}

@media screen and (max-width: 576px) {
    img {
      background-color: #cc5e5e;
      width: 30%;
      margin-left: -180px;
      margin-right: 0px;
}

